body {
    background-color: #F8F8F8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    header {
        display: inline-block;
        /* background-color: yellow; */
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
    }
        header > img {
            display: inline-block;
            float: left;
        }
        nav {
            display: inline-block;
            float: right;
        }
            a {
                display: inline-block;
            }
            a:last-of-type {
                
            }
    main {
        display: inline-block;
        /* background-color: violet; */
        width: 1000px;
        margin-top: 40px;
        margin-left: calc( (100% - 1000px) / 2 );
    }
        div {
            display: inline-block;
            width: 40%;
            float: left;
            /* background-color: aquamarine; */
            margin-top: 60px;
            margin-right: 10%;
            color: #9E9E9E;
        }
            h1 {
                display: inline-block;
                font-size: 80px;
                margin: 0;
            }
            p {
                display: inline-block;
                font-size: 30px;
                margin: 0;
            }
        main > img {
            display: inline-block;
            width: 50%;
            float: left;
        }